altgraph==0.17.5
annotated-types==0.7.0
blosc2==4.5.1
certifi==2026.6.17
charset-normalizer==3.4.7
debugpy==1.8.21
et_xmlfile==2.0.0
idna==3.18
linkify-it-py==2.1.0
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
msgpack==1.2.1
ndindex==1.10.1
numexpr==2.14.1
numpy==2.5.0
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
pefile==2024.8.26
platformdirs==4.10.0
plotext==5.3.2
py-cpuinfo==9.0.0
pydantic_core==2.46.4
pydantic==2.13.4
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
python-dateutil==2.9.0.post0
pywin32==312
pywin32-ctypes==0.2.3
requests==2.34.2
rich==15.0.0
setuptools==83.0.0
six==1.17.0
tables==3.11.1
textual==8.2.7
textual-plotext==1.0.1
threadpoolctl==3.6.0
tomli_w==1.2.0
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2026.2
uc-micro-py==2.0.0
urllib3==2.7.0
wheel==0.47.0
xlsxwriter==3.2.9
